Flask >= 2.2.2
Flask-Login >= 0.6.0
Flask-WTF >= 1.0.0
flask_cors >= 3.0.10
flask_caching >= 2.0.2
scikit-learn >= 1.4.2
pytest >= 8.1.1
numpy >= 1.24.3
Werkzeug >= 2.2.2
matplotlib >= 3.8.4
ipykernel >= 6.29.4